%head
  = stylesheet_link_tag 'static', media: 'all', 'data-turbolinks-track' => true

.header
  .head-image= image_tag 'transit-header.png'
.intro
  .intro-transits= image_tag 'welcome-transits.png'
  .intro-welcome
    %h1 Welcome to Lost in Transit
  .intro-description
    %p Welcome to Lost in Transit! We are hoping to bring a powerful web application to the Transit community to centralize information on one website.
    %p We want to thank those who participated in the beta and sent in some valuable feedback. Those who signed up will be credited with a forum title of beta tester. When the site opens there will be more ways to help contribute as we are taking as much input as we can.
    %p This forum is driven for the community. The site has a highly experienced moderating team and developers who are looking at working for the community. Suggestions are always welcome! Our goal is centralization of information to help future Transit converters find information and assistance with their own build.
