.footer-social
  .subscribe
    %h3 Enter your email to keep updated within the Transit community!
    %input{:type => "text"}/
    %input{:type => "submit", value: "Subscribe"}/
  .footer-fb-twtr
    %button{type: "button", class: "fb-foot"}Like us
    %button{type: "button", class: "twtr-foot"}Follow

.footer-nav
  .home-foot
    %a{:href => "#"}Home
  .blogs-foot
    %a{:href => "#"}Blogs
  .tutorials-foot
    %a{:href => "#"}Tutorials
  .forum-foot
    %a{:href => "/forums"}Forum
  .faq-foot
    %a{:href => "#"}FAQS
